<div class="container">	
	<h1>Send us a message!</h1>
	<hr>

	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">Contact Info</div>
				<div class="panel-body">
					<p>
						DieSachbearbeiter<br>
						Schönhauser Allee 167c<br>
						10435 Berlin<br>
						Germany
					</p>
					<p>
						Telephone: +49 30 47373795
						E-mail: moin@blindtextgenerator.de
					</p>
				</div>
				
			</div>
		</div>
		<div class="col-md-5 col-md-offset-1">
		    <form>
		    	<div class="form-group">
		            <label for="inputName">Name</label>
		            <input type="text" class="form-control" id="inputName" required>
		        </div>
		        <div class="form-group">
		            <label for="inputEmail">Email</label>
		            <input type="email" class="form-control" id="inputEmail" required>
		        </div>
		        <div class="form-group">
		            <label for="inputMessage">Message</label>
		            <textarea rows="5" class="form-control" id="inputMessage" required></textarea>
		        </div>
		        <button type="submit" class="btn btn-default">Send Message</button>
		    </form>
		</div>		
	</div>
	
</div>