
<div id="checkOut" class="container">
	<h1>Checkout</h1>
	<hr>
	
	
	<div class="col-md-8">
		<div class="panel panel-default">
        	<div class="panel-heading"><strong>1 BILLING ADDRESS</strong></div>
            <div class="panel-body">
                <form>
	                <div class="row">
	                  	<div class="col-md-6">
	                  	  	<div class="form-group">
	                  	  	    <label for="firstName">First Name</label>
	                  	  	    <input type="text" class="form-control" id="firstName" placeholder="First Name">
	                  	  	</div>
	                  	</div>
	                  	<div class="col-md-6">
	                  	  	<div class="form-group">
	                  	  	    <label for="lastName">Last Name</label>
	                  	  	    <input type="text" class="form-control" id="lastName" placeholder="Last Name">
	                  	  	</div>
	                  	</div>
	                </div>
	                <div class="row">
	                  	<div class="col-md-6">
	                  	    <div class="form-group">
	                  	    	<label for="email">Email</label>
	                  	    	<input type="email" class="form-control" id="email" placeholder="Email">
	                  	    </div>
	                  	</div>
	                  	<div class="col-md-6">
	                  	    <div class="form-group">
	                  	    	<label for="telephone">Telephone</label>
	                  	    	<input type="tel" class="form-control" id="telephone" placeHolder="Phone Number">
	                  	    </div>
	                  	</div>
	                </div>
	                <div class="form-group">
	                  	<label for="address">Address</label>
	                  	<textarea class="form-control" rows="3" id="address"></textarea>
	                </div>

	                <div class="row">
	                    <div class="col-md-6">
	                        <div class="form-group">
	                            <label for="postalCode">Zip/Postal Code</label>
	                            <input type="text" class="form-control" id="postalCode" placeholder="ex. 11342">
	                        </div>
	                    </div>
	                    <div class="col-md-6">
	                        <div class="form-group">
	                            <label for="stateProvince">State/Province</label>
	                            <input type="text" class="form-control" id="stateProvince" placeholder="State/Province">
	                        </div>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="col-md-6">
	                        <div class="form-group">
	                            <label for="company">Company</label>
	                            <input type="text" class="form-control" id="company" placeholder="Company">
	                        </div>
	                    </div>
	                    <div class="col-md-6">
	                        <div class="form-group">
	                        	<label for="fax">Fax</label>
	                        	<input type="text" class="form-control" id="fax" placeHolder="Fax">
	                        </div>
	                    </div>
	                </div>
                </form>
            </div>
        </div>
    </div>

      
</div>