<div class="container">
	<br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h1 class="panel-title">Error! </h1>
				</div>
				<div class="panel-body">
					<p>Your credit card details are not valid. <br>Please review them and try again.</p>
					<br>
					<%= link_to 'Back to cart', cart_path, class: 'btn btn-default' %>
				</div>
			</div>
			
		</div>
		
	</div>
</div>