
<div class="container">
	<h1>Payment Processing</h1>
	<hr>




	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-body">
					<p><strong><%= "#{@client["first_name"]} #{@client["last_name"]}" %></strong><br></p>
					<p><%= simple_format(@client["address"]) %></p>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <p class="text-left">Total Bill</p>
            </div>
            <div class="col-md-6">
              <p class="text-right"><strong>$ <%= @grand_total %></strong></p>
            </div>
          </div>				
				</div>
			</div>
		</div>
		<!-- Payment -->
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><strong>Checkout using credit card</strong></div>
            <div class="panel-body">
              <%= render 'credit_card_form' %>
            </div>
          </div>
        </div>
		
	</div>
	
</div>
