<div class="container">
	<h1>Payment complete!</h1>
	<hr>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-success">
				<div class="panel-heading">
					<p class="panel-title">Success</p>
				</div>
				<div class="panel-body">
					<p>Transaction complete!</p>
					<%= link_to 'Return to home', root_path, class: 'btn btn-success' %>
				</div>
			</div>
		</div>
	</div>
</div>

