<div class="container">
	<div class="panel panel-success">
		<div class="panel-body">
			<p>Purchase complete!</p>
			<%= link_to 'Home', root_path, class: 'btn btn-primary btn-lg' %>
		</div>
	</div>
</div>