<div class="container">	
	<h1>Store</h1>
	<hr>

	<div class="row">
		<div class="col-md-3">
		    <div class="panel panel-default">
		        <div class="panel-heading">Sort</div>
		        <div class="panel-body">
		        	<select class="form-control">
						<option>Bestselling</option>
						<option>Alphabetical</option>
					</select>
		        </div>
		    </div>
		    <div class="panel panel-default">
		        <div class="panel-heading">Filter</div>
		        <div class="panel-body">
		        	<label>Price</label>
		        	<div class="checkbox">
					    <label>
					        <input type="checkbox"> Under $20
					    </label>
					</div>
					<div class="checkbox">
					    <label>
					        <input type="checkbox"> $20 - $40
					    </label>
					</div>
					<div class="checkbox">
					    <label>
					        <input type="checkbox"> $40 - $60
					    </label>
					</div>
					<div class="checkbox">
					    <label>
					        <input type="checkbox"> over $60
					    </label>
					</div>
					<hr>
					<label>Play Time Duration</label>
		        	<div class="checkbox">
					    <label>
					        <input type="checkbox"> 30 mins
					    </label>
					</div>
					<div class="checkbox">
					    <label>
					        <input type="checkbox"> 60 mins
					    </label>
					</div>
					<div class="checkbox">
					    <label>
					        <input type="checkbox"> 90 mins
					    </label>
					</div>
					<div class="checkbox">
					    <label>
					        <input type="checkbox"> 120 mins
					    </label>
					</div>

					<hr>
					<%= link_to 'Cart / Checkout', cart_path, class: 'btn btn-warning btn-lg btn-block' %>

		        </div>
		    </div>
		</div>
	    <div class="col-md-9">
	    	<div class="row">

	    		<% @products.each_slice(4).each do |row| %>
	    		<% row.each do |p| %>
		    	<div class="col-md-3">
		    		<div class="thumbnail">
		    			<%= link_to image_tag( p.image.url(:medium), class: 'img-responsive' ), product_path(p) %>
				      	<div class="caption">
				       		<h4><%= p.name %><small> $ <%= p.price %></small></h4>
				      	</div>
				    </div>
		    	</div>
		    	<% end %>
		    	<div class="clearfix"></div>
		    	<% end %>

	    	</div>
	    </div>		
	</div>


</div>