<div class="container">	
	<h1>Get to know us better!</h1>
	<hr>

	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean posuere, urna vitae tincidunt vehicula, elit odio dapibus neque, tristique ultrices nisl turpis sed elit. Nullam feugiat convallis condimentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec imperdiet sapien mauris, ac ullamcorper tellus semper id. Phasellus facilisis fermentum lorem, et finibus metus pulvinar id. Maecenas lacinia aliquam egestas. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec nec nibh et massa blandit porta.</p>
			<p class="text-justify">Duis luctus venenatis tempus. Morbi accumsan ac orci sed vehicula. Vestibulum nisl diam, aliquam sed rutrum nec, vehicula a metus. Aliquam mollis posuere lorem ac molestie. Donec ac cursus ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis justo interdum, sodales purus vel, ultrices justo. Curabitur egestas, nisl eu vulputate ultricies, nisl ante imperdiet velit, non facilisis nisi ex non turpis. Aliquam enim est, semper ut pulvinar a, auctor ut justo. Mauris scelerisque sapien sed neque laoreet, vel vehicula nisi tempor. Sed blandit erat ligula, sed commodo felis fermentum eu. Vestibulum enim diam, rutrum id fermentum nec, eleifend ac est. Sed vitae nulla mollis mi porta iaculis.</p>
			<p class="text-justify">Nullam consequat ut risus et facilisis. Donec maximus ut quam quis rutrum. Vivamus ornare ullamcorper nibh, vitae iaculis leo imperdiet vitae. In nec malesuada tellus, sed tempus nisl. Praesent varius consectetur lectus, pulvinar blandit est tempor a. Sed dapibus pharetra ante, sit amet imperdiet augue vehicula malesuada. Etiam id nunc enim. Maecenas at nunc suscipit, aliquet metus non, maximus sapien. Nulla hendrerit, dui sed interdum dapibus, arcu lectus vulputate quam, sed euismod odio turpis eu diam. Nam sit amet malesuada dui. </p>
		</div>
		<div class="col-md-5">
			<img class="img-responsive" src="http://lorempixel.com/500/500">
		</div>
	</div>
	
</div>