<div class="container">	
	<h1>Send us a message!</h1>
	<hr>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		    <form id="messageForm">
		    	<div class="form-group">
		            <label for="inputName">Name</label>
		            <input type="text" class="form-control" id="inputName" required>
		        </div>
		        <div class="form-group">
		            <label for="inputEmail">Email</label>
		            <input type="email" class="form-control" id="inputEmail" required>
		        </div>
		        <div class="form-group">
		            <label for="inputMessage">Message</label>
		            <textarea rows="5" class="form-control" id="inputMessage" required></textarea>
		        </div>
		        <button type="submit" class="btn btn-default">Send Message</button>
		    </form>
		</div>		
	</div>
	
</div>